body{
    max-width: 99vw;   
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
nav{
    position: fixed;
    top: 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: orangered;
    height: 50px;
    width: 100%;
    float: right;
}
nav :nth-child(3){
    margin-right: auto;
}
nav div{
    padding: 10px 20px;
}
.main{
    position: relative;
    top: 50px;
    z-index: -1;
}
.form{
    text-align: center;
    max-width: 200px;
    padding: 20px;
    margin: 5px auto;
}
.form input{
    width: 200px;
    max-width: 200px;
    padding: 10px;
}
.form button{
    width: 100px;
    padding: 10px;
}
.sec1{
    background-image: url("https://www.3m.com/wps/wcm/connect/82080a14-fed3-483f-9e8a-78e6de3d7f7e/1200x340_Mesh_Header_LightOrange-Yellow.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-82080a14-fed3-483f-9e8a-78e6de3d7f7e-kKa68Ua");
    min-height: 300px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100px;
    margin: 0;
    font-family: 'Cardo', serif;
    text-transform: uppercase;
    font-size: 5em;
    text-align: center;
    color: orangered;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.sec2{
    display: flex;
    margin: auto;
    margin: 5px 10%;
    min-height: 300px;
}
.sec4 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
iframe {
    max-width: 560px;
    width: 100%;
}
.flexRight{
    margin: 10px auto;
    width: 80%;
}
.flexLeft{
    margin: 10px;
    background-color: rgba(115, 68, 153, 0.5);
    Width: 20%;
}
.sec3{
    display: flex;
    display: relative;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    min-height: 300px;
}
.content{
    font-size: 1em;
    border-radius: 5px;
    margin: 10px;
    width: 33%;
    height: 475px;
    min-width: 200px;
    max-width: 300px;
    border: 1px solid #555;
    box-shadow: #888 5px 5px 10px 3px;
}
@media only screen and (max-width: 940px) {
    .header{
        font-size: 3em;
    }
    .form{
        width: 320px;
        padding: 10px;
        margin: 5px auto;
    }
    .form button{
        margin: 5px;
    }
    .sec3{
        display: block;
        margin: 5px 10%;
        min-height: 300px;
    }
    .flexRight{
        margin: 5px auto;
        width: 90%;
    }
    .content{
        width: 90%;
        max-width: 350px;
        margin: 20px auto 0px auto;
        background-color: rgba(255,255,255, 1);
    }
}
.cardTop{
    background-color: lightblue;
}
.cardHead{
    text-transform: capitalize;
    text-align: center;
    font-size: 2em;
    margin: 0px 0px 5px 0px;
    height: 75px;
}
.cardImage{
    margin: 5px;
    margin: auto;
}
.cardImage img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    box-shadow: #888 5px 5px 10px 3px;
    background-color: #fff;
}
.cardRule{
    margin-top: 1.5em;
    width: 80%;
}
.cardText{
    padding: 5px 15px;
    text-transform: uppercase;
    text-align: center;
    height: 150px;
}
.btn{
    display: block;
    height: 25px;
}
.content Button{
    display: block;
    padding: 10px;
    width: 100px;
    margin: 5px auto;
}
footer{
    display: flex;
    align-items: center;
    background-color: orangered;
    height: 50px;
    width: 100%;
}
footer :nth-child(3){
    margin-left: auto;
}
footer div{
    padding: 10px 20px;
}